<ion-header>
    <app-toobar titulo="Ferramentas"></app-toobar>
</ion-header>


<ion-content>

    <ion-list>
        <ion-item (click)="openPage('/endereco-edit')">
            <ion-icon name="man"> </ion-icon>
            <ion-label>Meus dados</ion-label>
        </ion-item>

        <ion-item (click)="openPage('/alterarsenha')">
            <ion-icon name="lock-open-outline"></ion-icon>
            <ion-label>Alterar Senha</ion-label>
        </ion-item>

        <ion-item (click)="openPageLogin()">
            <ion-icon name="open-outline"></ion-icon>
            <ion-label>Sair</ion-label>
        </ion-item>
    </ion-list>

</ion-content>

<app-rodape></app-rodape>