<mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>
                1 - Clientes
            </mat-card-title>

            <mat-card-content>
                <a [routerLink]="['/']">1.1 - Clientes</a> <br>
                <a [routerLink]="['/']">1.2 - Redes</a>

            </mat-card-content>

        </mat-card>

    </mat-grid-tile>


    <mat-grid-tile>
        <mat-card>
            <mat-card-title>
                2 - Produtos
            </mat-card-title>

            <mat-card-content>
                <a [routerLink]="['/']">2.1 - Produtos</a> <br>
                <a [routerLink]="['/']">2.2 - Grupos de Produtos</a> <br>
                <a [routerLink]="['/']">2.3 - Familia de Produtos</a> <br>


            </mat-card-content>

        </mat-card>

    </mat-grid-tile>



    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>