# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
backend/node_modules/

frontend/gestor_material/node_modules/
frontend/makemoney/node_modules/
frontend/makemoney_bootstrap/node_modules/
frontend/teste/

mobile/node_modules
mobile/www/

makeb2b/makeb2b/bin/
