<div class="container">

    <div class="title-center">
        <h2>Avisnet Gestor</h2>
        <p>
            Tenha o controle da sua empresa na palma das mãos através do <strong> Gestor </strong>.
        </p>

        <p>(SBT)</p>

        <p>Governador Valadares - MG</p>

        <p>
            <mat-icon> call </mat-icon>
            <mat-label> Tel :33-32128000 </mat-label>
        </p>

        <p>
            <mat-icon> mail </mat-icon>
            avisnet@avisnet.com.br
        </p>

        <p>
            Versão: 0.0.1
        </p>

    </div>


</div>